# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: An object to store numerical information. Most commom forms are integers (whole numbers) and floating point (numbers with decimal points).

Strings: An object to store ordered sequence of characters.

Lists: An object to store ordered sequences of other object types and its element can be updated (mutability).

Tuples: An object similar to lists except the property that it is immutable meaning it cannot be changed.

Dictionaries: An object consisting of "keys" and "values" pair that are used for mapping and the order is not retained.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
(3/4-6/8)+(5**2)*4+1-0.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    44
    What is the value of the expression 4 * 6 + 5 
    29
    What is the value of the expression 4 + 6 * 5 
    34

In [2]:
ans1 = 4 * (6 + 5)
ans2 = 4 * 6 + 5
ans3 = 4 + 6 * 5
print(ans1)
print(ans2)
print(ans3)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4? 
floating point number

In [3]:
num1 = 3 + 1.5 + 4
type(num1)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [4]:
# Square root:
25**(0.5)

5.0

In [5]:
# Square:
3**4

81

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [6]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [7]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [8]:
s ='hello'
# Print out the 'o'

# Method 1:
met1 = s[4]
print(met1)

o

In [9]:
# Method 2:
met2 = s[-1]
print(met2)

o

## Lists

Build this list [0,0,0] two separate ways.

In [10]:
# Method 1:
mylist1 = [0,0,0]

print(mylist1)

[0, 0, 0]

In [11]:
# Method 2:
mylist2 = [0]*3

print(mylist2)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [12]:
list3 = [1,2,[3,4,'hello']]

newlist3 = list3
newlist3[2][2] = 'goodbye'

print(newlist3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [13]:
list4 = [5,3,4,6,1]
list4.sort()

print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [14]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [15]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [16]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [17]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not? 
No, because the dictionary is a mapping not a sequence.

## Tuples

What is the major difference between tuples and lists?

Tuples are immutable meaning they cannot be changed.

How do you create a tuple?

By using () parenthesis with elements separated by commas.

## Sets

What is unique about a set? 

It's an unordered collection of unique elements. They do not allow duplicate items.

Use a set to find the unique values of the list below:

In [18]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
myset = set(list5)

print(myset)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [19]:
# Answer before running cell
2 > 3 #False

False

In [20]:
# Answer before running cell
3 <= 2 #False

False

In [21]:
# Answer before running cell
3 == 2.0 #False

False

In [22]:
# Answer before running cell 
3.0 == 3 #True; note that Python treats them equally.

True

In [23]:
# Answer before running cell
4**0.5 != 2 #False

False

Final Question: What is the boolean output of the cell block below?

In [24]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1'] # 3>=4 thus False

False

## Great Job on your first assessment!